spring:
  application:
    name: TaskManagement
  datasource:
    url: jdbc:postgresql://localhost:5431/TaskManagement
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
  flyway:
    enabled: true
    locations: classpath:db/migration